@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* @import url('https://fonts.google.com/specimen/Work+Sans?preview.text_type=custom'); */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 500px;
  font-family: "Work Sans", sans-serif;
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 0.83333rem;
  }
}

a {
  text-decoration: none;
}

.navbar {
  height: 60px;
  width: 100%;
  padding: 10px;
  position: fixed;
  z-index: 100;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 1200px) {
  .navbar__logo {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media only screen and (max-width: 768px) {
  .navbar__logo {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media only screen and (max-width: 576px) {
  .navbar__logo {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.navbar__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.navbar__links-list a {
  color: white;
  margin-right: 26px;
}

.navbar__links-list li:first-child a:after {
  content: "\276F";
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
}

@media only screen and (max-width: 1200px) {
  .navbar__links-list {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar__button {
    visibility: hidden;
  }
}

.navbar__burguer {
  position: absolute;
  right: 16px;
  top: 16px;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  visibility: hidden;
}

@media only screen and (max-width: 1200px) {
  .navbar__burguer {
    visibility: visible;
  }
}

.button {
  min-height: 10px;
  position: relative;
  padding: 8px 36px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  color: white;
  font-size: 0.83333rem;
  font-weight: 900;
  text-align: center;
  border: none;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.button--red {
  background-color: #ff4c44;
}

.button--red:hover {
  background-color: #d6251b;
  cursor: pointer;
}

.button--green {
  background-color: #1caf9a;
}

.button--green:hover {
  background-color: #fe2da0;
  cursor: pointer;
}

.button--pink {
  background-color: #fe2da0;
}

.button--pink:hover {
  background-color: #1caf9a;
  cursor: pointer;
}

/* Style the video: 100% width and height to cover the entire window */
.video-container {
  width: 100%;
  height: 65%;
  min-height: 400px;
  overflow: hidden;
  position: relative;
}

.video-container video {
  position: inherit;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container__header {
  max-width: 35%;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  text-align: left;
  z-index: 10;
  color: white;
  top: 45%;
  left: 0%;
}

.video-container h1 {
  margin-bottom: 16px;
  font-size: 2.66667rem;
  font-weight: 600;
  line-height: 2.5rem;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 768px) {
  .video-container h1 {
    font-size: 2.33333rem;
  }
}

@media only screen and (max-width: 576px) {
  .video-container h1 {
    font-size: 2rem;
  }
}

.video-container h3 {
  font-size: 1.16667rem;
  font-weight: 600;
  line-height: 1.66667rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 768px) {
  .video-container h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .video-container h3 {
    font-size: 0.83333rem;
  }
}

.video-container__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 20px;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  visibility: hidden;
}

.video-container__contact .contact-button span {
  margin-right: 6px;
}

@media only screen and (max-width: 576px) {
  .video-container__contact .contact-button {
    visibility: visible;
  }
}
/*# sourceMappingURL=main.css.map */