$html-font-size: 12px;
$html-font-family: 'Work Sans', sans-serif;


$smallest-gap:6px;
$small-gap: 10px;
$medium-gap: 16px;
$big-gap: 26px;
$biggest-gap:40px;


$mobile_breakpoint: 576px;
$tablet_breakpoint: 768px;
$tablet_landscape_breakpoint: 992px;
$desktop_breakpoint: 1200px;

// SCSS Mixins
@mixin mobile {
  @media only screen and (max-width: #{$mobile_breakpoint}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: #{$tablet_breakpoint}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media only screen and (max-width: #{$tablet_landscape_breakpoint}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: #{$desktop_breakpoint}) {
    @content;
  }
}

// Px to REM
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}


* {box-sizing: border-box;} //includes the border and padding within the size

/* @import url('https://fonts.google.com/specimen/Work+Sans?preview.text_type=custom'); */
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");



html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;    
    
    font-family: $html-font-family;        
}

body {   
    min-width: 500px;     
    @include desktop {
        font-size: rem(12px);
    }
    @include tablet() {
        font-size: rem(10px);
    }    
}

a {
  text-decoration: none;
}

h1 {
  margin-bottom: $medium-gap;
  font-size: rem(32px);
  font-weight: 600;
  line-height: rem(30px);
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  @include tablet {
      font-size: rem(28px);
  }
  @include mobile {
      font-size: rem(26px);
  }
}

h2 {
  margin-bottom: $medium-gap;
  font-size: rem(24px);
  font-weight: 600;
  line-height: rem(20px);
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  @include tablet {
      font-size: rem(20px);
  }
  @include mobile {
      font-size: rem(18px);
  }
}

h3 {
  font-size: rem(18px);
  font-weight: 600;
  line-height: rem(16px);
  transition: all 0.3s ease 0s;
  @include tablet {
      font-size: rem(16px);
  }
  @include mobile {
      font-size: rem(14px);
  }
}   

h4 {
  font-size: rem(16px);
  font-weight: 600;
  line-height: rem(14px);
  transition: all 0.3s ease 0s;
  @include tablet {
      font-size: rem(14px);
  }
  @include mobile() {
      font-size: rem(12px);
  }
}   

@import './navbar-header/_navbar-header.scss';
@import './content/_content.scss';
@import './form/_form.scss';
@import './footer/_footer.scss';