@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* @import url('https://fonts.google.com/specimen/Work+Sans?preview.text_type=custom'); */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Work Sans", sans-serif;
}

body {
  min-width: 500px;
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 0.83333rem;
  }
}

a {
  text-decoration: none;
}

h1 {
  margin-bottom: 16px;
  font-size: 2.66667rem;
  font-weight: 600;
  line-height: 2.5rem;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.33333rem;
  }
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 2.16667rem;
  }
}

h2 {
  margin-bottom: 16px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.66667rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 1.66667rem;
  }
}

@media only screen and (max-width: 576px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.33333rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 1.33333rem;
  }
}

@media only screen and (max-width: 576px) {
  h3 {
    font-size: 1.16667rem;
  }
}

h4 {
  font-size: 1.33333rem;
  font-weight: 600;
  line-height: 1.16667rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 768px) {
  h4 {
    font-size: 1.16667rem;
  }
}

@media only screen and (max-width: 576px) {
  h4 {
    font-size: 1rem;
  }
}

h5 {
  font-size: 1.16667rem;
  font-weight: normal;
  line-height: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 768px) {
  h5 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  h5 {
    font-size: 0.83333rem;
  }
}

.navbar {
  height: 60px;
  width: 100%;
  padding: 10px;
  position: fixed;
  z-index: 100;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 1200px) {
  .navbar__logo {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media only screen and (max-width: 768px) {
  .navbar__logo {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media only screen and (max-width: 576px) {
  .navbar__logo {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.navbar__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.navbar__links-list a {
  color: white;
  margin-right: 26px;
}

.navbar__links-list li:first-child a:after {
  content: "\276F";
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
}

@media only screen and (max-width: 1200px) {
  .navbar__links-list {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar__button {
    visibility: hidden;
  }
}

.navbar__burguer {
  position: absolute;
  right: 16px;
  top: 16px;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  visibility: hidden;
}

@media only screen and (max-width: 1200px) {
  .navbar__burguer {
    visibility: visible;
  }
}

.button {
  min-height: 10px;
  position: relative;
  padding: 8px 36px;
  margin-right: 10px;
  border-radius: 5px;
  color: white;
  font-size: 0.83333rem;
  font-weight: 900;
  text-align: center;
  border: none;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.button--red {
  background-color: #ff4c44;
}

.button--red:hover {
  background-color: #d6251b;
  cursor: pointer;
}

.button--green {
  background-color: #61cfbf;
}

.button--green:hover {
  background-color: #1caf9a;
  cursor: pointer;
}

.button--pink {
  background-color: #ff56b3;
}

.button--pink:hover {
  background-color: #fd1294;
  cursor: pointer;
}

.button--yellow {
  background-color: #f0fe2d;
}

.button--yellow:hover {
  background-color: #ffd413;
  cursor: pointer;
}

.button--submit {
  background-color: rgba(225, 225, 225, 0.5);
}

.button--submit:hover {
  background-color: rgba(225, 225, 225, 0.3);
  cursor: pointer;
}

.black {
  color: black;
}

/* Style the video: 100% width and height to cover the entire window */
.video-container {
  width: 100%;
  height: 65%;
  min-height: 400px;
  overflow: hidden;
  position: relative;
}

.video-container video {
  position: inherit;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container__header {
  max-width: 35%;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  text-align: left;
  z-index: 10;
  color: white;
  top: 45%;
  left: 0%;
}

.contact-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
  bottom: 10px;
  white-space: nowrap;
  left: 12%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  visibility: hidden;
}

.contact-buttons .contact-button span {
  margin-right: 6px;
}

@media only screen and (max-width: 576px) {
  .contact-buttons .contact-button {
    visibility: visible;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.66667rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 1.16667rem;
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 1rem;
  }
}

h3 {
  font-size: 1.33333rem;
  font-weight: 600;
  line-height: 1.66667rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 1.16667rem;
  }
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1.16667rem;
  font-weight: 400;
  line-height: 1.66667rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 768px) {
  h4 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  h4 {
    font-size: 0.83333rem;
  }
}

.live {
  margin: 40px 0;
  padding: 20px 20%;
  text-align: center;
}

.live span {
  background-color: #ffff7c;
}

.plans {
  padding: 25px 10%;
  margin: 0 auto;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .plans {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bootcamps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 26px;
}

.card {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  margin-right: 6px;
  margin-bottom: 6px;
  white-space: nowrap;
  border-radius: 5px;
  background: #fffbfb;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
  }
}

.time-plans {
  margin-left: 40px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .time-plans {
    margin-left: 0;
  }
}

.time-plans__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time-plans__card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: nowrap;
}

.companies {
  padding: 25px 10%;
  margin: 0 auto;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.companies__head-text {
  margin-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.companies__head-text__title {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 30px;
}

@media only screen and (max-width: 1200px) {
  .companies__head-text__title {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.companies__head-text__text {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 30px;
}

@media only screen and (max-width: 1200px) {
  .companies__head-text__text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.companies__companies-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* row-gap: $biggest-gap;
        column-gap: $big-gap;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 20% 20% 20% 20% 20%; */
}

.companies__companies-logos__logo-container {
  -ms-flex-preferred-size: 13%;
      flex-basis: 13%;
  margin: 26px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.companies__companies-logos__logo-container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 1200px) {
  .companies__companies-logos__logo-container {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
  }
}

@media only screen and (max-width: 768px) {
  .companies__companies-logos__logo-container {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@media only screen and (max-width: 576px) {
  .companies__companies-logos__logo-container {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

.opinions__title {
  white-space: nowrap;
  text-align: center;
  margin-bottom: 26px;
}

.opinions__upgraders-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.opinions__upgraders-container .upgrader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: white;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.8));
  background-blend-mode: multiply;
  background-size: cover;
}

@media only screen and (max-width: 992px) {
  .opinions__upgraders-container .upgrader {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media only screen and (max-width: 576px) {
  .opinions__upgraders-container .upgrader {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.opinions__upgraders-container .upgrader img {
  width: 100%;
  z-index: -1;
}

.opinions__upgraders-container .upgrader__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: absolute;
  padding: 26px;
}

.opinions__upgraders-container .upgrader__text h3 {
  margin-bottom: 6px;
}

.whatis {
  padding: 25px 10%;
  margin: 0 auto;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boot-section {
  padding: 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boot-section .card-bootcamp {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 992px) {
  .boot-section .card-bootcamp {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.boot-section .card-bootcamp .bootcamp__text {
  position: absolute;
  top: 10%;
  color: white;
  margin: 16px;
}

.boot-section .card-bootcamp .bootcamp__text h2, .boot-section .card-bootcamp .bootcamp__text p {
  padding: 16px;
}

.boot-section .card-bootcamp .bootcamp__text p {
  font-size: 1.16667rem;
  line-height: 1.66667rem;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 1200px) {
  .boot-section .card-bootcamp .bootcamp__text p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .boot-section .card-bootcamp .bootcamp__text p {
    font-size: 0.83333rem;
    line-height: 1.33333rem;
  }
}

.boot-section .card-bootcamp .bootcamp__text hr {
  margin-left: 26px;
  margin-right: 26px;
}

.boot-section .card-bootcamp button {
  position: absolute;
  top: 5%;
  right: 5%;
}

.boot-section .card-bootcamp figure {
  overflow: hidden;
}

.boot-section .card-bootcamp img {
  min-height: 100%;
  max-width: 100%;
}

.boot-section .card-bootcamp:hover p {
  opacity: 100%;
}

.boot-section .card-bootcamp:hover img {
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.boot-section .pink-back {
  background-color: #fd1294;
}

.boot-section .green-back {
  background-color: #1caf9a;
}

.boot-section .blue-back {
  background-color: #425efc;
}

.boot-section .violet-back {
  background-color: #7a42fc;
}

.choose {
  padding: 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.choose__card {
  margin: 10px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.choose__card h2 {
  font-size: 32px;
  line-height: 28px;
  font-weight: bolder;
}

.choose__card h3 {
  margin-bottom: 44px;
  font-size: 26px;
  line-height: 26px;
}

.choose__card p {
  font-size: 20px;
  line-height: 24px;
}

@media only screen and (max-width: 1200px) {
  .choose__card {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media only screen and (max-width: 576px) {
  .choose__card p {
    display: none;
  }
}

.choose__text {
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5% 5%;
  background-color: #301456;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-container__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 1200px) {
  .form-container__text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .form-container__text h1 {
    padding-right: 10%;
    padding-left: 10%;
  }
}

.form-container__text p {
  margin: 15px 150px 15px 0px;
  font-size: 1.33333rem;
  line-height: 1.83333rem;
}

@media only screen and (max-width: 1200px) {
  .form-container__text p {
    margin: 15px 0px 15px 0px;
    padding-right: 10%;
    padding-left: 10%;
  }
}

.form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 1200px) {
  .form-container form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-right: 10%;
    padding-left: 10%;
  }
}

.form-container form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container form fieldset .input-box {
  margin: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-container form fieldset .input-box input {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.form-container form fieldset .input-box .label-box {
  margin-bottom: 16px;
  font-size: 1.33333rem;
}

.form-container form .terms {
  padding: 16px;
}

.form-container form .terms__check {
  padding-bottom: 26px;
  line-height: 20px;
}

.form-container form .terms__check a {
  text-decoration: underline;
  color: white;
}

.footer-container {
  padding: 40px 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #262d35;
}

@media only screen and (max-width: 992px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 576px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-container a {
  color: white;
  margin-bottom: 10px;
  text-decoration: underline;
  white-space: nowrap;
}

.footer-container__address-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.footer-container__address-links .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.footer-container__address-links .address img {
  width: 160px;
  margin-bottom: 16px;
}

.footer-container__address-links .links-list {
  padding: 16px 26px;
  margin-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border-left: 1px solid white;
}

@media only screen and (max-width: 992px) {
  .footer-container__address-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-container__address-links .links-list {
    padding-left: 0;
    margin-left: 0;
    border-left: none;
  }
}

.footer-container__social {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .footer-container__social {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=main.css.map */