h2 {
    font-size: rem(18px);
    font-weight: 600;
    line-height: rem(20px);
    transition: all 0.3s ease 0s;
    @include tablet {
        font-size: rem(14px);
    }
    @include tablet {
        font-size: rem(12px);
    }
}
h3 {
    font-size: rem(16px);
    font-weight: 600;
    line-height: rem(20px);
    transition: all 0.3s ease 0s;
    @include tablet {
        font-size: rem(14px);
    }
    @include tablet {
        font-size: rem(12px);
    }
}

h4 {
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(20px);
    transition: all 0.3s ease 0s;
    @include tablet {
        font-size: rem(12px);
    }
    @include tablet {
        font-size: rem(10px);
    }
}

.live {
    margin: $biggest-gap 0;
    padding: 20px 20%;
    text-align: center;
    span {
        background-color: rgb(255, 255, 124);
    }
}

.plans {
    padding: 25px 10%;
    margin: 0 auto;
    margin-bottom: $biggest-gap;
    display: flex;
    @include tablet {
        flex-direction: column;
    }
}

.bootcamps {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $big-gap;
}

.card {
    flex-basis: 47%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-right: $smallest-gap;
    margin-bottom: $smallest-gap;
    white-space: nowrap;
    border-radius: 5px;
    background: rgb(255, 251, 251);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px 0px;
    transition: all 0.3s ease 0s;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px;
        cursor: pointer;
    }

    @include desktop {
        flex-basis: 100%;
        margin-right: 0;
    }
}

.time-plans {
    margin-left: $biggest-gap;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
        margin-left: 0;
    }
    &__card {
        display: flex;
        &__text {
            display: flex;
            flex-direction: column;
            white-space: nowrap;
        }
    }
}

.companies {
    padding: 25px 10%;
    margin: 0 auto;
    margin-bottom: $biggest-gap;
    display: flex;
    flex-wrap: wrap;
    &__head-text {
        margin-bottom: $big-gap;
        display: flex;
        flex-wrap: wrap;
        &__title {
            flex-basis: 47%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 30px;
            @include desktop {
                flex-basis: 100%;
            }
        }
        &__text {
            flex-basis: 47%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 30px;
            @include desktop {
                flex-basis: 100%;
            }
        }
    }
    &__companies-logos {
        display: flex;
        flex-wrap: wrap;
        /* row-gap: $biggest-gap;
        column-gap: $big-gap;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 20% 20% 20% 20% 20%; */
        &__logo-container {
            flex-basis: 13%;
            margin: $big-gap;
            transition: all 0.3s ease 0s;
            img {
                object-fit: contain;
                width: 100%;
                max-height: 100%;
            }
            @include desktop {
                flex-basis: 15%;
            }
            @include tablet {
                flex-basis: 20%;
            }
            @include mobile {
                flex-basis: 30%;
            }
        }
    }
}

.opinions {
    &__title {
        white-space: nowrap;
        text-align: center;
        margin-bottom: $big-gap;
    }
    &__upgraders-container {
        display: flex;
        flex-wrap: wrap;
        .upgrader {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex-grow: 1;
            color: white;
            flex-basis: 25%;
            background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.8));
            background-blend-mode: multiply;
            background-size: cover;

            @include tablet-portrait() {
                flex-basis: 50%;
            }

            @include mobile() {
                flex-basis: 100%;
            }
            img {
                width: 100%;
                z-index: -1;
            }
            &__text {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                position: absolute;
                padding: $big-gap;
                h3 {
                    margin-bottom: $smallest-gap;
                }
            }
        }
    }
}

.whatis {
    padding: 25px 10%;
    margin: 0 auto;
    margin-bottom: $biggest-gap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boot-section {
    padding: 0 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card-bootcamp {
        position: relative;
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        transition: all 0.3s ease 0s;
        @include tablet-portrait() {
            flex-basis: 100%;
        }
        .bootcamp__text {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 10%;
            color: white;
            margin: $medium-gap;
            h2,
            p {
                padding: $medium-gap;
            }
            p {                
                font-size: rem(14px);
                line-height: rem(20px);
                opacity: 0;
                transition: all 0.3s ease 0s;
                @include desktop {
                    font-size: rem(12px);
                    line-height: rem(18px);
                }
                @include mobile() {
                    font-size: rem(10px);
                    line-height: rem(16px);
                }
            }

            hr {
                margin-left: $big-gap;
                margin-right: $big-gap;
                transform-origin: 0 center;
                transform: scaleX(0);
                transition: 0.5s ease;
            }
            .arrow {
                align-self: flex-end;
                justify-self: flex-end;                
                min-height: 20px;                
                span {
                    height: 0;
                    width: 30px;
                    border: 1px white solid;
                    background: white;
                    display: block;
                    transform-origin: 27px center;
                    border-radius: 10px;
                }

                span:first-child {
                    transform: rotate(45deg);
                }
                span:last-child {
                    transform: rotate(-45deg);
                }
                span:nth-child(2) {
                    transform: scaleX(0);
                    transform-origin: 31px center;
                    transition: 0.5s ease;
                }
            }
        }
        button {
            position: absolute;
            top: 5%;
            right: 5%;
        }
        figure {
            overflow: hidden;
        }
        img {
            min-height: 100%;
            max-width: 100%;
        }
    }
    .card-bootcamp:hover {
        p {
            opacity: 100%;
        }
        img {
            transition: opacity 0.3s ease 0s;
            opacity: 20%;
        }
        hr {
            transform: scaleX(1);
        }
        .arrow span:nth-child(2) {
            transform: scaleX(2);
        }
    }
    .pink-back {
        background-color: rgb(253, 18, 148);
    }
    .green-back {
        background-color: rgb(28, 175, 154);
    }
    .blue-back {
        background-color: rgb(66, 94, 252);
    }
    .violet-back {
        background-color: rgb(122, 66, 252);
    }
}

.choose {
    padding: 0 20%;
    display: flex;
    flex-wrap: wrap;
    &__card {
        margin: $small-gap;
        margin-bottom: $biggest-gap;
        display: flex;
        flex-direction: column;
        justify-content: left;
        flex: 1;
        flex-basis: 25%;
        h2 {
            font-size: 32px;
            line-height: 28px;
            font-weight: bolder;
        }
        h3 {
            margin-bottom: $biggest-gap * 1.1;
            font-size: 26px;
            line-height: 26px;
        }
        p {
            font-size: 20px;
            line-height: 24px;
        }
        @include desktop {
            flex-basis: 40%;
        }
        @include mobile {
            p {
                display: none;
            }
        }
    }
    &__text {
        margin: $biggest-gap;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        flex-basis: 100%;
    }
}
